# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Expo/Metro
.expo/
.expo-shared/
.expo-packager-cache/
.expo-cache/

# Bundler/Build
android/
ios/
web-build/

# OS/Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Misc
.env*
*.iml
